<div id="home-main__menu-slide">
    <h2 id="home-main__menu-slide-header">MENU</h2>
    <ul id="home-main__menu-items">
        <li>
            <a href="<%= access ? activeUrl : '/' %>">
                <div class="home-main__menu-item-container">
                    HOME
                </div>
            </a>
        </li>
        <li>
            <a href="/themes">
                <div class="home-main__menu-item-container">
                    THEMES
                </div>
            </a>
        </li>
        <li>
            <a href="/setting">
                <div class="home-main__menu-item-container">
                    THEME SETTING
                </div>
            </a>
        </li>
        <li>
            <a href="/theme-developer-portal">
                <div class="home-main__menu-item-container">
                    DEVELOPE THEME
                </div>
            </a>
        </li>
    </ul>
</div>