<div id="home-main__profile-slide">
    <h2 id="home-main__profile-slide-header">PROFILE</h2>
        <ul id="home-main__profile-slide-button-list">
            <li>
                <a href="<%= activeUrl %>/account">
                    <div class="home-main__profile-slide-button-container">
                        ACCOUNT
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="home-main__profile-slide-button-container">
                        TASKS       
                    </div>
                </a>
            </li>
            <li>
                <form action="/logout" method="post">
                    <button class="home-main__profile-slide-button-container" id="home-main__profile-slide-logout-button" type="submit">LOGOUT</button>
                </form>
            </li>
        </ul>
</div>